review usage of relative URIs 

In https://github.com/cboettig/contentid/issues/1#issuecomment-606098469 , it came to light that java's URI (and related, commonly used, RDF libraries) uses a URI spec from https://www.ietf.org/rfc/rfc2396.txt . However, this URI spec was deprecated by the introduction of a, more strict, rfc https://tools.ietf.org/html/rfc3986 .

Preston uses relative IRIs and no problems were encountered when using commonly used rdf libraries (https://commons.apache.org/proper/commons-rdf/) and triple stores (e.g., https://jena.apache.org/ ). 

As discussed with @mielliott - 

0. implement a check on creating nquads to make sure that IRIs are up to spec (feature)
1. patch existing provenance logs to ensure that uuid etc are up to spec (patch)

Proposed patch process:

1. create a new preston provenance graph 
2. first version would only include reference to the first version of the provenance graph. 
3. reprocess old provenance version one provenance log at a time 

done. 

For historical perspective, from https://cr.openjdk.java.net/~dfuchs/writeups/updating-uri/ - 

----
Updating URI support for RFC 3986 and RFC 3987 in the JDK
Motivation

java.net.URI claims conformance to RFC 2396 (Uniform Resource Identifiers (URI): Generic Syntax) and RFC 2732 (Format for Literal IPv6 Addresses in URLs), with deviations. These two RFCs have been obsoleted by RFC 3986, which is now an Internet Standard. In addition, java.net.URI supports non US-ASCII characters in URIs, which has been later formalized by RFC 3987. Because java.net.URI predates both RFC 3986 and RFC 3987 the documentation makes no mention on how java.net.URI deviates from these two RFCs.

Many bugs and confusion could be avoided if java.net.URI could be upgraded to support the newer RFCs.
Historical consideration

An attempt was made in the past to upgrade java.net.URI to support RFC 3986 and RFC 3987. This caused many JCK tests failures and compatibility issues and the change had to be backed out (see JDK-6394131). To reduce the risk of incompatibilities arising again several roads have been explored.
[...]

@mielliott Please note that recent commits introduced ```urn:uuid:``` prefix whenever UUID are serialized to rdf/nquads

example, notice the activity/datagraph name uuid:

```terminal
$ preston track "https://google.com"
...
<https://google.com> <http://purl.org/pav/hasVersion> <hash://sha256/3a8544e34c7a9df6fcd62c976eb9fe0011596c6c1913145fe8e8827cb14b67b9> <urn:uuid:1b368364-3939-4d2a-94e3-a87e0ef84eaf> .
```

Next up: have a way to detect relative IRIs generated by statement emitters. 

Another example:

```
$ preston history
<urn:uuid:0659a54f-b713-4f86-a917-5be166a14110> <http://purl.org/pav/hasVersion> <hash://sha256/d8f72bd865686e99eac413b36d198fd15f305966d2864091320f1868279451ff> .
<hash://sha256/d7b73e3472d5a1989598f2a46116a4fc11dfb9ceacdf0a2b2f7f69737883c951> <http://purl.org/pav/previousVersion> <hash://sha256/d8f72bd865686e99eac413b36d198fd15f305966d2864091320f1868279451ff> .
```

> Next up: have a way to detect relative IRIs generated by statement emitters.

Are you just thinking about having `preston ls` (the printing logger) automatically prefix relative UUID IRIs with urn:uuid? Or are you also considering adding a prefix fixing step to the archiving logger?

Thanks for your comments!

Prefixing the uuid when printing sounds like an idea. You can still to ```preston cat``` to get the original provenance log. 

Note also, that some uuids come from parsed iDigBio/GBIF data. Also, I remember that some of the DataONE dataset identifiers are treated are URI while some do not qualify at a "new" >2005 (?) URI.

What does your gut tell you? Auto-fix or explicit fix with something like ```preston ls --strict-uris```




I think I favor auto-fixing, since this would probably be our default option to keep old logs "compatible" with new logs. In case we need the original URIs (e.g. if those DataONE dataset identifiers need to be kept intact), we can have an option to use the verbatim URIs. I don't think there's any perfect solution here, we'll probably always need to be careful to handle formatting inconsistencies when using UUIDs shared by different datasets/provenance logs.

Ok, I am ok with opt-out fixing. 

I was thinking that for non-compliant URI terms for things other than UUID, we can add the ```urn:example:``` prefix instead. See https://en.wikipedia.org/wiki/Uniform_Resource_Name#Experimental . Note that Apache Jena is using the now deprecated ```urn:x-``` prefix. We could also do that . . . ```urn:x-preston:``` 'because hey . . . if Apache does it . . .   

> 'because hey . . . if Apache does it . . .

Apache's way of doing things got us into this mess ;)

`urn:example` sounds fine to me.

closing stale discussion re: relative URIs. Currently, as far as I know, preston logs are generating well formed URIs.